:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --active-text-color: #2196f3;
  --accent-text-color: #ffffff;
  --background-color: #fcfcfc;
  --footer-bgcolor: #2f303a;
}
