:root {
  // Настройки цвета фразовых элементов
  // основной цвет текста
  --primary-text-color: #757575;
  // основной цвет заголовков
  --secondary-text-color: #212121;
  // цвет при наведении
  --active-text-color: #2196f3;
  // цвет акцента текста
  --accent-text-color: #ffffff;

  //Цвет фона
  --background-color: #fcfcfc;
  --footer-bgcolor: #2f303a;
  // посмотрим что еще нужно будет
}
